HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
credentials.json
tokens/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### React App ###
# dependencies
src/main/webapp/frontend/node_modules
src/main/webapp/frontend/.pnp
src/main/webapp/frontend/.pnp.js

# testing
src/main/webapp/frontend/coverage

# production
src/main/webapp/frontend/build

# misc
src/main/webapp/frontend/.DS_Store
src/main/webapp/frontend/.env.local
src/main/webapp/frontend/.env.development.local
src/main/webapp/frontend/.env.test.local
src/main/webapp/frontend/.env.production.local

src/main/webapp/frontend/npm-debug.log*
src/main/webapp/frontend/yarn-debug.log*
src/main/webapp/frontend/yarn-error.log*
